/* Project CSS 
============================================================
Lee Saenz
WSP
05/08/2016
============================================================*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic|Alegreya:900,700);

html,body {
	height:100%;
}

body {
	background:url(../img/bg.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	background-size: cover;
	background-position:center center;
	background-color:#000;
	font-family:'Roboto',Arial,sans-serif;
	font-size:16px;
}

p {
	color:#ddd;
	margin:15px 0;
	line-height:1.4em;
}

p.post-details {
	margin:3px 0;
	font-style:italic;
	font-size:0.9em;
}

h1,h2,h3 {
	color:#57aff3;
	font-family:'Alegreya',Times,serif;
	font-weight:900;
}

h4,h5,h6 {
	font-family:'Roboto',Arial,sans-serif;
	font-size:1.5em;
}

h2 {
	font-size:3em;
}

h3 {
	color:#9bacae;
	font-size:2em;
	font-weight:700;
	margin:15px 0 5px;
}

h4 {
	color:#cec064;
	margin:25px 0 5px;
	font-weight:700;
}

h5 {
	color:#9bacae;
	margin:25px 0;

}

.container {
	width:80%;
	margin:0 auto;
	height:100%;
}

main.content {
	background-image: linear-gradient(rgba(255,255,255,0.2), transparent);
	background-opacity:0.5;
	min-height:100%;
	box-sizing:border-box;
	margin-top:25px;
	margin-bottom:-180px;
	padding:40px;
}

main.content:after {
	content:'';
	display:block;
	height:180px;
}

.featured {
	background-color:rgba(255,255,255,0.2);
	padding:20px;
	position:relative;
	margin:50px 0;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
}

footer {
	background-image:url(../img/footer-bg.png);
	background-repeat:no-repeat;
	background-size:500px 174px;
	background-position:center bottom;
	width:100%;
	min-height:180px;
}

footer p {
	font-size:0.7em;
	text-align:center;
}

/* HEADER ============================== */



h1.logo {
	background:transparent url(../img/logo.png) center center no-repeat;
	background-size:cover;
	width:500px;
	height:262px;
	margin:25px auto 0;
	text-indent:-9999em;
	display:block;
}

h1.logo a {
	width:100%;
	height:100%;
	display:block;
}

/* ABOUT ============================== */

/* COMPONENTS ============================== */

.image-grid {
	width:100%;
	display:block;
	margin:25px 0;
}

.image-grid > img {
	width:100%;
}

.grid-item {
	width:33%;
	text-align:center;
	display:inline-block;
}

.grid-item img {
	width:100%;
}

.tall img {
	height:309px;
	width:auto;
	margin:0 auto;
}
