<!DOCTYPE html>
<html>
<head>
	<title>Responsive Navigation: Lee Saenz</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
	<header>
		<nav class="back-to-site">
			<p><span>&#8592;</span> <a href="../../index.html">Back to Site</a>
		</nav>
		<h1>Responsive Navigation</h1>
	</header>
	<div class="container">
		<nav class="nav">
		  <h1 class="nav-logo"><a href="/" class="logo">Lee Saenz</a></h1>
		  <input class="menu-button" type="checkbox" id="menu-button" />
		  <label class="hamburger-icon" for="menu-button"><span class="icon"></span></label>
		  <ul class="menu">
		    <li class="nav-link"><a class="link" href="#work">Home</a></li>
		    <li class="nav-link"><a class="link" href="#about">Portfolio</a></li>
		    <li class="nav-link"><a class="link" href="#careers">Blog</a></li>
		    <li class="nav-link"><a class="link" href="#contact">Contact</a></li>
		  </ul>
		</nav>
	</div>

	<!-- End Component -->
	
</body>
</html>