<!DOCTYPE html>
<html>
<head>
	<title>Custom Google Map: Lee Saenz</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body class="map">
	<header>
		<nav class="back-to-site">
			<p><span>&#8592;</span> <a href="../../index.html">Back to Site</a>
		</nav>
		<h1>Custom Google Map</h1>
		
	</header>
	<main class="container">
		<div id="map"></div>
	</main>

	<!-- End Component -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDziUrAbYFf1Ri2fdetquBVtTWsk-qit1s"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>