<!DOCTYPE html>
<html>
<head>
	<title>Layout Card Portfolio: Lee Saenz</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
	<header>
		<nav class="back-to-site">
			<p><span>&#8592;</span> <a href="../../index.html">Back to Site</a>
		</nav>
		<h1>Layout Card Portfolio</h1>
	</header>

	<div class="container">
		<main>
			<div class="portfolio">
			   <div class="portfolio-item"><img src="img/01.jpg" alt="Ducky"></div>
			   <div class="portfolio-item"><img src="img/02.jpg" alt="Mountain"></div>
			   <div class="portfolio-item"><img src="img/03.jpg" alt="Taj Mahal"></div>
			   <div class="portfolio-item"><img src="img/04.jpg" alt="Golden Spiral"></div>
			   <div class="portfolio-item"><img src="img/05.jpg" alt="Mosquito"></div>
			   <div class="portfolio-item"><img src="img/06.jpg" alt="Water"></div>
			   <div class="portfolio-item"></div>
			   <div class="portfolio-item"></div>
			   <div class="portfolio-item"></div>
			   <div class="portfolio-item"></div>
			   <div class="portfolio-item"></div>
			   <div class="portfolio-item"></div>
			   <div class="portfolio-item"></div>
			</div>
		</main>
	</div>
	<!-- End Component -->
	
</body>
</html>