<!DOCTYPE html>
<html>
<head>
	<title>Hero Slideshow: Lee Saenz</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
	<header>
		<nav class="back-to-site">
			<p><span>&#8592;</span> <a href="../../index.html">Back to Site</a>
		</nav>
		<h1>Hero Slideshow</h1>
	</header>

	<div class="container">
		<main>
	    	<div id="slideshow">
	        	<div id="slide-mask">
		            <ul class="slides">
			           	<li id="first" class="slide ani-one">
				            <a href="#">
				            	<img src="img/01.jpg"  class="slide-image" alt="Mountains"/>
				            </a>
			            </li>
			            <li id="second" class="slide ani-two">
				            <a href="#">
				            	<img src="img/02.jpg" class="slide-image" alt="Batman"/>
				            </a>
			            </li>  
			            <li id="third" class="slide ani-three">
				            <a href="#">
				            	<img src="img/03.jpg" class="slide-image" alt="Gilded Iron Man"/>
				            </a>
			            </li>           
			            <li id="fourth" class="slide ani-four">
				            <a href="#">
				            	<img src="img/04.jpg" class="slide-image" alt="Iron Man Flight"/>
				            </a>
			            </li>          
			            <li id="fifth" class="slide ani-five">
				            <a href="#">
				            	<img src="img/05.jpg" class="slide-image" alt="Have a Raven"/>
				            </a>
			            </li>
		            </ul>
	            </div>
	            <div class="progress-bar"></div>
	        </div>
		</main>
	</div>

	<!-- End Component -->
	
</body>
</html>